@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Cores de destaque */
  --red1: #ff0000;
  --red2: #ff0006;
  --purple: #9747ff;
  --orange-light: #f9a000;
  --orange: #ff5e00;
  --blue-dark: #17183b;
  --raisin-black: #211c24;

  /* Cores monocromáticas que não mudam de acordo com o tema */
  --dark01: #4e4e4e;
  --light02: #e4e4e4;
  --dark03: #2e2e2e;
  --light04: #f6f6f6;
  --dark05: #222222;
  --light06: #979797;
  --light07: #a2a3b1;
  --light08: #9f9f9f;
  --light09: #cfcfcf;
  --dark10: #191919;
  --light11: #797979;
  --dark12: #545454;
  --light13: #737373;
  --light14: #989898;
  --light15: #a7a7a7;
  --light16: #f6f6f6;
  --dark17: #656565;
  --light18: #909090;
  --light19: #d1d1d8;
  --light20: #d5d5d5;
  --light21: #d9d9d9;
  --light22: #f5f5f5;
  --light23: #a4a4a4;
  --light24: #b5b5b5;
  --light25: #cecece;
  --light26: #fafafa;
  --dark27: #181313;
  --dark28: #414141;
  --light29: #6f6f6f;
  --light30: #7e7e7e;
  --light31: #929292;
  --light32: #aeaeae;
  --light33: #d3d3d3;
  --light34: #d4d4d4;
  --light35: #e7e7e7;
  --light36: #ededed;
  --light37: #f4f4f4;
  --dark38: #383838;
  --light39: #d2d2da;
  --dark40: #0a0b0d;
  --dark41: #0f0f0f;
  --dark42: #151515;
  --dark43: #353535;
  --dark44: #16181e;
  --dark45: #1f2531;
  --dark46: #201f24;
  --light47: #7d7d7f;

  /* Cores que mudam com o tema. (padrão: light mode)*/
  --color01: var(--dark01);
  --color02: var(--light02);
  --color03: var(--dark03);
  --color04: var(--light04);
  --color05: var(--dark05);
  --color06: var(--light06);
  --color07: var(--light07);
  --color08: var(--light08);
  --color09: var(--light09);
  --color10: var(--dark10);
  --color11: var(--light11);
  --color12: var(--dark12);
  --color13: var(--light13);
  --color14: var(--light14);
  --color15: var(--light15);
  --color16: var(--light16);
  --color17: var(--light17);
  --color18: var(--light18);
  --color19: var(--light19);
  --color20: var(--light20);
  --color21: var(--light21);
  --color22: var(--light22);
  --color23: var(--light23);
  --color24: var(--light24);
  --color25: var(--light25);
  --color26: var(--light26);
  --color27: var(--dark27);
  --color28: var(--dark28);
  --color29: var(--light29);
  --color30: var(--light30);
  --color31: var(--light31);
  --color32: var(--light32);
  --color33: var(--light33);
  --color34: var(--light34);
  --color35: var(--light35);
  --color36: var(--light36);
  --color37: var(--light37);
  --color38: var(--dark38);
  --color39: var(--light39);
  --color40: var(--dark40);
  --color41: var(--dark41);
  --color42: var(--dark42);
  --color43: var(--dark43);
  --color44: var(--dark44);
  --color45: var(--dark45);
  --color46: var(--dark46);
  --color47: var(--light47);
}

/* Tema escuro */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --color22: #222222;
  }
}

body {
  background: var(--background);
  color: var(--foreground);

  /* Tipografia padrão */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Container mobile */
:root {
  --container: 91vw;
  --pd-container: calc((100vw - var(--container)) / 2);
}
.pd-container {
  padding-inline: var(--pd-container);
}
/* Container desktop */
@media screen and (min-width: 1230px) {
  :root {
    --container: 1120px;
  }
}
